!!! 5
html(lang="en")
	head
		meta(charset="utf-8")
		title MMT Rulez
		block styles
			link(rel="stylesheet", href="/css/main.css")


	body
		Hello MMT User
		script(data-main="/js/main", src="/js/vendor/require.js")



